/* HomePage.css */

/* Common styling for both desktop and mobile */
#title {
  filter: brightness();
  font-size: 6vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  padding: 10vh 50vw 0 2vw;
  margin-bottom: 0;
}

#subtitle {
  padding-right: 70vw;
  padding-bottom: 6vh;
  font-size: 4vw;
  font-weight: bolder;
} 

.Home-page {
  background-image: url('/src/assets/blue\ bg2.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(38, 52, 160);
  font-weight: bolder;
  padding: 0;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.gap {
  height: 20vh;
}

.cards {
  padding: 2vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  background-color: #ffffff;
  margin: 0;
}

.welcome-section {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2vh;
}

.navbar {
  background-color: #0000ff;
  height: 7vh;
}

.heading{
  font-weight: bold;
}

.projects-section {
  margin: 2vh 0;
}

.projects-section h2 {
  margin-left: 2vw;
  margin-bottom: 1vh;
}

/* Styling for desktop */
.project-card {
  flex: 0 0 auto;
  width: 15vw;
  height: 10vw;
  background-color: #ffffff;
  border-radius: 1vw;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
}
.project-title {
  color: rgb(63, 63, 63);
  font-size: 1rem;

}
.projects-scroll {
  background-color: rgb(237, 237, 237);
  border-radius: 3vh;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  padding: 2vh 2vw;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.projects-scroll::-webkit-scrollbar {
  display: none;
}

.repoimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

/* Media queries for mobile */
@media screen and (max-width: 768px) {
  #title {
    font-size: 8vw;
    padding: 5vh 5vw 0 2vw;
  }

  #subtitle {
    padding-right: 0;
    padding-bottom: 2vh;
    font-size: 4vw;
  }

  .gap {
    height: 5vh;
  }

  .cards {
    padding: 5vw;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
  }

  .projects-scroll {
    border-radius: 5px;
    margin-left: 5px;
    padding: 20px;
    display: flex;
    overflow-x: auto;
    gap: 1vw; /* Adjust gap between cards as needed */
    padding: 2vh 0; /* Adjust top and bottom padding as needed */
  }

  .project-card {
    width: 25vw; /* Adjust width as needed */
    height: 15vw; /* Adjust height as needed */
    margin-right: 1vw; /* Adjust margin between cards as needed */
  }

  .project-title {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 8px; /* Adjust font size as needed */
  }
}